# =============== #
# Unity generated #
# =============== #
Unity/Temp/
Unity/Library/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ============ #
# Added by me  #
# ============ #
Unity/Export/
AndroidPlugin/gen/
AndroidPlugin/bin/
Unity/Assets/Editor/
_Export/