<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmurru.bleframework">
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <service
            android:name="com.gmurru.bleframework.RBLService"
            android:enabled="true" />
    </application>
</manifest>
